<style>
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

h1{
    margin-left: 120px;
    font-family: 'Pacifico', cursive;
    color: cornflowerblue;
    font-weight: lighter;
    font-size: 2.5em;
}
</style>



<h1>New Article</h1>
 

 <div>
 <%= render 'form' %>
 <%= link_to '<- Go Back to Article', articles_path %>
 </div>
